/pfr.db
/build/
/dist/
.idea
modules/gui/__pycache__/
modules/gui/optionally/__pycache__/
modules/db/__pycache__/
modules/gui/buttons/__pycache__/
modules/gui/entrys/__pycache__/
modules/gui/frames/__pycache__/
